[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
fastapi = "==0.116.1"
uvicorn = "== 0.35.0"
transformers = "==4.56.0"
torch = "==2.7.1"
pytest = "==8.4.1"
pytest-asyncio = "==1.1.0"
pydantic-settings = "==2.10.1"
httpx = "==0.28.1"

[llm-service]
vllm = "==0.10.1.1"
numpy = "==2.2.6"

[triton-client]
numpy = "==1.23.5"

[dev-packages]
ruff = "==0.2.1"
pre-commit = "==3.6.1"
pyright = "==1.1.350"

[requires]
python_version = "3.11"
